<!-- mydata.ejs -->
<%- include('partials/header') %>
<div class="jumbotron text-center homeBackgroundProperty">
  <div class="container-fluid">
    <div class="row justify-content-md-center">
      <% if (secrets&&secrets.length > 0) { %> <% for (var i = 0; i <
      secrets.length; i++) { %>
      <div class="col-sm-12 col-lg-6 col-md-12 mt-4">
        <div
          class="card-body border border-white mainHeadingBg shadow-lg p-3 mb-5 rounded w-100"
        >
          <h7 class="card-text homeBackground" style="font-size: 100%"
            ><%=secrets[i].usersecret %></h7
          >
          <hr
            style="
              margin-top: 1rem;
              margin-bottom: 1rem;
              border: 0;
              border-top: 1px solid white;
            "
          />
          <div class="row">
            <div class="col">
              <h7 style="position: absolute; left: 5%"
                ><%= secrets[i].newPostTime %> | <%=
                secrets[i].newPostDateAndDay %></h7
              >
            </div>
            <div class="col">
              <a href="/delete/<%= secrets[i]._id %>"
                ><i class="fas fa-trash"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
      <% } %> <% } else { %>
      <h5 style="color: white; align-items: center; height: fit-content">
        No secrets found.
      </h5>
      <% } %>
    </div>
  </div>
</div>
<script src="/public/index.js"></script>
<%- include('partials/footer') %>
